@charset "UTF-8";
@font-face { font-family:"Arial";src:url("#FontID0") format(svg)}
.fil1 {fill:#FEFEFE}
.fil4 {fill:#D2D3D5}
.fil2 {fill:#373435}
.fil5 {fill:#373435}
.fil6 {fill:#FFF688}
.fil3 {fill:#CEECFB}
.fil0 {fill:#AEE1F9}
.fnt0 {font-weight:normal;font-size:1334.06px;font-family:'Arial'}
.fnt3 {font-weight:normal;font-size:1351.24px;font-family:'Arial'}
.fnt2 {font-weight:normal;font-size:1351.28px;font-family:'Arial'}
.fnt1 {font-weight:bold;font-size:1778.74px;font-family:'Arial'}
