@charset "UTF-8";
@font-face { font-family:"Arial";src:url("#FontID0") format(svg)}
.fil1 {fill:#FEFEFE}
.fil3 {fill:#FEFEFE}
.fil4 {fill:#E6E7E8}
.fil2 {fill:#373435}
.fil0 {fill:#AEE1F9}
.fnt1 {font-weight:normal;font-size:1801.67px;font-family:'Arial'}
.fnt0 {font-weight:bold;font-size:1801.67px;font-family:'Arial'}
