@charset "UTF-8";
@font-face { font-family:"Arial";src:url("#FontID0") format(svg)}
.fil3 {fill:none}
.fil1 {fill:#FEFEFE}
.fil4 {fill:#D2D3D5}
.fil5 {fill:#373435}
.fil2 {fill:#CEECFB}
.fil0 {fill:#AEE1F9}
.fnt0 {font-weight:normal;font-size:1351.28px;font-family:'Arial'}
.fnt1 {font-weight:bold;font-size:1801.67px;font-family:'Arial'}
